<!--ejs partials head/navbar/flash-->
<%- include('../partials/head') %> 
<%- include('../partials/navbar') %> 
<%- include('../partials/flash') %> 

<!--landscape header-->
<section class="container-fluid px-0 header-section-landscapes text-center py-5">
  <div class="container text-center">
     <h1 class="h1-upper mb-5 bounceIn" style="color: rgb(255, 255, 255);font-size: 6.5vw;opacity: .8;">Landscapes</h1>
  </div>
</section>

<!--back button-->
<section class="container-fluid" id="galleryContainer">
  <div class="container-fluid mt-5">
    <a class="btn main-btn" href="javascript:history.back()"><i class="fa-solid fa-chevron-left px-2"></i>GO BACK</a> 
  </div>
  <!--landscape-painting container-->  
  <section class="container-fluid gallery mt-3">
    <div class="row" id="">
      <!--grabbing paintings from the route directory-->
      <% for(let painting of paintings) {%> 
      <!--determining if paintings type is landscape show only landscape paintings-->
      <% if(painting.type === 'landscape') {%>
      <div class="col-lg-4 col-sm-12 d-flex align-items-center justify-content-center img-three img-wrapper my-3" id="card">
        <div class="card px-4 d-flex align-items-center" data-item-id="<%= painting.id %> ">
          <!--utilizing onmouseover to show image setting using second image of model when user hovers over main image-->
          <a href="/gallery/<%= painting.id %>"><img src="<%= painting.image %> " onmouseover="this.src='<%= painting.img %>'" onmouseout="this.src='<%= painting.image %>'" style="width: 400px; height: 400px; background-size: contain;" class="img-fluid responsive py-5" id="galleryImg" alt="Seascape Painting"></a>
          <div class="row">
            <h5 class="text-center pb-2"> <%= painting.title %> </h5>
            <!--if painting is available show=>-->
            <% if(painting.isAvailable === true) {%> 
            <h3 class="text-center">€ <%= painting.price %></h3>
            <% }else { %> <!--otherwise show=>-->
            <h6 class="text-center">Not Available</h6>
            <% } %> 
            <a href="/gallery/<%= painting.id %> " class="btn btn-outline-secondary mt-3">PREVIEW</a>
            <!--if painting is available show=>-->
            <% if(painting.isAvailable === true) {%>
            <a href="<%= painting.stripe_link %>" class="btn btn-primary my-3" id="add">BUY</a>
            <% }else { %> <!--otherwise show=>-->
            <button class="btn btn-secondary my-3" disabled>SOLD</button>
            <% } %> 
          </div>
        </div>
      </div>
      <div class="modal">
        <div class="modal-img">
          <img src="#" alt=""/>
        </div>
      </div>
      <% } %> 
      <% } %>
    </div>
  </div>                  
</section>

<!--navigation scroll up-->
<div class="d-flex justify-content-end grey-container pb-3 px-3" style="background-color: white;">
  <a class="btn scroll-top px-3 py-3" href="#"><i class="fa-solid fa-arrow-up"></i></a>
</div>
<!--contact details-->
<section class="dark-section py-5 mb-2">
  <div class="container py-2">
    <h2 style="color: #023047;" class="text-center py-3">Interested in my paintings?</h2>
  </div>
  <div class="container d-flex justify-content-center">
    <a href="/contact" class="main-btn btn">GET IN TOUCH <i class="fa-solid fa-chevron-right"></i></a>
  </div>
</section>
<%- include('../partials/footer') %>  
</main>
<!-- ejs partials cookie consernt/scripts/footer-->
<%- include('../partials/cookieConsent') %> 
<%- include('../partials/scripts') %>


</body>
</html>